.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 63px 50px;
}

@media only screen and (max-width: 1360px) {
  .container {
    align-content: flex-start;
    padding: 0px;
  }
}