.container {
  display: flex;
  justify-content: center;
  padding-top: 114px;
  height: 100%;
}

.wrapper {
  width: 778px;
  max-height: calc(100% - 30px);
  overflow: hidden;
  padding-right: 30px;
}
.wrapper:hover {
  overflow-y: scroll;
  padding-right: 22px;
}

@media only screen and (max-width: 1360px) {
  
}