.container {
  max-width: calc(100% - 332px * 2);
  min-width: 596px;
  max-height: calc(100% + 63px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 6px 9px 20px 3px;
}

@media only screen and (max-width: 1360px) {
  .container {
    order: 2;
    min-width: 100%;
    max-height: calc(100vh - 64px - 79.61px - 19.5px);
    gap: 18px;
    padding: 6px 9px 20px 9px;
    margin-top: 19.5px;
  }
}