.container[data-iscurrenthome="true"] {
  position: absolute;
  top: 149px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo_container {
  width: 192px;
}
.logo_container[data-iscurrenthome="true"] {
  max-width: 530px;
  min-width: 459.5px;
  width: 50vh;
}