.container {
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.container[data-iscurrenthome="true"] {
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.logo_container {
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.logo_container[data-iscurrenthome="true"] {
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.link {
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.link[data-iscurrenthome="true"] {
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.container[data-iscurrenthome="true"] {
  position: absolute;
  top: 149px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo_container {
  width: 192px;
}
.logo_container[data-iscurrenthome="true"] {
  max-width: 530px;
  min-width: 459.5px;
  width: 50vh;
}

.link {
  color: var(--color-neutral-1000);
}
.link[data-iscurrenthome="true"] {
  color: white;
}

@media only screen and (max-width: 1360px) {
  .container[data-iscurrenthome="true"] {
    top: calc(128 / 896 * 100vh);
  }

  .logo_container {
    width: 129px;
  }
  .logo_container[data-iscurrenthome="true"] {
    width: 284px;
    max-width: 90%;
    min-width: 0px;
  }
}

@media only screen and (max-width: 1360px) and (max-height: 600px) {
  .logo_container[data-iscurrenthome="true"] {
    width: 40vh;
  }
}