.container {

}

.title {
  color: var(--color-secondary);
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 18px;
}

.list {

}

.filter {
  color: var(--color-neutral-1000);
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 20px;
}