.container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 65px;
}
.container[data-disabled="true"] {
  display: none;
}

.copyright {
  color: var(--color-neutral-500);
  text-align: center;
}

@media only screen and (max-width: 1360px) {
  .container[data-disabled="false"] {
    bottom: 100px;
  }
  .container[data-iscurrentcontact="true"] {
    display: none;
  }
}

@media only screen and (max-width: 1360px) and (max-height: 600px) {
  .container[data-disabled="false"] {
    bottom: 10vh;
  }
}