.container {
  width: 100vw;
  height: 100vh;
  min-height: 929px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 808px;
}

@media only screen and (max-width: 1360px) {
  .container {
    min-height: 100vh;
  }
  .main {
    min-height: 0px;
  }
}