.container {
  transition: .1s;
}
.container:hover {
  transform: scale(1.1);
  transition: .1s;
}

.link,
.link:visited {
  color: var(--color-neutral-500);
  font-size: 20px;
  font-weight: 300;
  pointer-events: initial;
}
.link[data-iscurrent="true"] {
  color: var(--color-neutral-1000)
}
.link[data-iscurrenthome="true"] {
  color: var(--color-neutral-100);
}
.link[data-iscurrent="true"][data-iscurrenthome="true"] {
  color: white;
}