.container {
  min-width: 364px;
  flex: 1;
  aspect-ratio: 1.78;
  min-height: 204px;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
  overflow: hidden;
}
.container[data-disabled="true"] {
  display: none;
}

.image_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  -webkit-transition: transform .5s, filter .3s;
  -moz-transition: transform .5s, filter .3s;
  -o-transition: transform .5s, filter .3s;
  transition: transform .5s, filter .3s;
}
.image:hover {
  transform: scale(1.1);
}
.image:active {
  pointer-events: none;
  -webkit-filter: brightness(5);
  filter: brightness(3.5);
}

@media only screen and (max-width: 1360px) {
  .container {
    min-width: calc(182 / 414 * 100%);
    min-height: 93px;
  }
}