.container:not(:last-child) {
  border-bottom: 2px solid;
  border-color: var(--color-neutral-500);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 22px;
}

.title {
  flex: 1 0 50%;
  font-size: 26px;
  font-weight: normal;
  color: var(--color-primary);
}

.price {
  flex: 1 0 50%;
  font-size: 26px;
  font-weight: normal;
  color: var(--color-secondary);
  font-family: 'Alfa Slab One', cursive;
  text-align: right;
}

.description {
  font-size: 20px;
  color: var(--color-neutral-1000);
  margin-top: 20px;
}

@media only screen and (max-width: 1360px) {
  .wrapper {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .title {
    flex: 1 0 100%;
    order: 1;
  }

  .price {
    flex: 1 0 100%;
    order: 3;
  }

  .description {
    flex: 1 0 100%;
    order: 2;
    margin-top: 0px;
  }
}
