
:root {
  --color-primary: #47555E;
  --color-secondary: #A8A742;
  --color-tercary: #F5F253;
  --color-neutral-1000: #333333;
  --color-neutral-500: #808080;
  --color-neutral-100: #DDDDDD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

ul, li {
	list-style: none;
}

h1 {
  font-family: 'Staatliches', cursive;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
}

svg {
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}